# Generative AI for interacting with SQL

Reference
- [Github vanna](https://github.com/vanna-ai/vanna)
- [vaana documentation](https://vanna.ai/docs/mssql-gemini-qdrant/)

In [ ]:
# 先卸載現有的 onnxruntime（如果有的話） 
!pip uninstall -y onnxruntime onnxruntime-gpu

!pip install onnxruntime==1.21.0 
!pip install vanna
!pip install "qdrant-client[fastembed]"  # 包含 fastembed 的依賴
!pip install google-generativeai 
!pip install vertexai 
!pip install fastembed

Found existing installation: onnxruntime 1.17.0
Uninstalling onnxruntime-1.17.0:
  Successfully uninstalled onnxruntime-1.17.0

WARNING: Failed to remove contents in a temporary directory 'C:\Users\User\anaconda3\Lib\site-packages\~-nxruntime'.
You can safely remove it manually.
WARNING: Skipping onnxruntime-gpu as it is not installed.

Collecting onnxruntime==1.21.0
  Using cached onnxruntime-1.21.0-cp312-cp312-win_amd64.whl.metadata (4.9 kB)
Requirement already satisfied: coloredlogs in c:\users\user\anaconda3\lib\site-packages (from onnxruntime==1.21.0) (15.0.1)
Requirement already satisfied: flatbuffers in c:\users\user\anaconda3\lib\site-packages (from onnxruntime==1.21.0) (25.2.10)
Requirement already satisfied: numpy>=1.21.6 in c:\users\user\anaconda3\lib\site-packages (from onnxruntime==1.21.0) (1.26.4)
Requirement already satisfied: packaging in c:\users\user\anaconda3\lib\site-packages (from onnxruntime==1.21.0) (25.0)
Requirement already satisfied: protobuf in c:\users\user\anaconda3\lib\site-packages (from onnxruntime==1.21.0) (5.29.4)
Requirement already satisfied: sympy in c:\users\user\anaconda3\lib\site-packages (from onnxruntime==1.21.0) (1.13.3)
Requirement already satisfied: humanfriendly>=9.1 in c:\users\user\anaconda3\lib\site-packages (from coloredlogs->onnxruntime==1.21.0) (10.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in c:\users\user\anaconda3\lib\site-packages (from sympy->onnxruntime==1.21.0) (1.3.0)
Requirement already satisfied: pyreadline3 in c:\users\user\anaconda3\lib\site-packages (from humanfriendly>=9.1->coloredlogs->onnxruntime==1.21.0) (3.5.4)
Using cached onnxruntime-1.21.0-cp312-cp312-win_amd64.whl (11.8 MB)
Installing collected packages: onnxruntime
Successfully installed onnxruntime-1.21.0
Requirement already satisfied: vanna in c:\users\user\anaconda3\lib\site-packages (0.7.9)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from vanna) (2.32.2)
Requirement already satisfied: tabulate in c:\users\user\anaconda3\lib\site-packages (from vanna) (0.9.0)
Requirement already satisfied: plotly in c:\users\user\anaconda3\lib\site-packages (from vanna) (6.0.1)
Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (from vanna) (2.1.3)
Requirement already satisfied: sqlparse in c:\users\user\anaconda3\lib\site-packages (from vanna) (0.5.3)
Requirement already satisfied: kaleido in c:\users\user\anaconda3\lib\site-packages (from vanna) (0.2.1)
Requirement already satisfied: flask in c:\users\user\anaconda3\lib\site-packages (from vanna) (3.0.3)
Requirement already satisfied: flask-sock in c:\users\user\anaconda3\lib\site-packages (from vanna) (0.7.0)
Requirement already satisfied: flasgger in c:\users\user\anaconda3\lib\site-packages (from vanna) (0.9.7.1)
Requirement already satisfied: sqlalchemy in c:\users\user\anaconda3\lib\site-packages (from vanna) (2.0.23)
Requirement already satisfied: PyYAML>=3.0 in c:\users\user\anaconda3\lib\site-packages (from flasgger->vanna) (6.0.1)
Requirement already satisfied: jsonschema>=3.0.1 in c:\users\user\anaconda3\lib\site-packages (from flasgger->vanna) (4.19.2)
Requirement already satisfied: mistune in c:\users\user\anaconda3\lib\site-packages (from flasgger->vanna) (2.0.4)
Requirement already satisfied: six>=1.10.0 in c:\users\user\anaconda3\lib\site-packages (from flasgger->vanna) (1.16.0)
Requirement already satisfied: packaging in c:\users\user\anaconda3\lib\site-packages (from flasgger->vanna) (25.0)
Requirement already satisfied: Werkzeug>=3.0.0 in c:\users\user\anaconda3\lib\site-packages (from flask->vanna) (3.0.3)
Requirement already satisfied: Jinja2>=3.1.2 in c:\users\user\anaconda3\lib\site-packages (from flask->vanna) (3.1.4)
Requirement already satisfied: itsdangerous>=2.1.2 in c:\users\user\anaconda3\lib\site-packages (from flask->vanna) (2.2.0)
Requirement already satisfied: click>=8.1.3 in c:\users\user\anaconda3\lib\site-packages (from flask->vanna) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in c:\users\user\anaconda3\lib\site-packages (from flask->vanna) (1.6.2)
Requirement already satisfied: simple-websocket>=0.5.1 in c:\users\user\anaconda3\lib\site-packages (from flask-sock->vanna) (1.1.0)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\user\anaconda3\lib\site-packages (from pandas->vanna) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas->vanna) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas->vanna) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\anaconda3\lib\site-packages (from pandas->vanna) (2023.3)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\user\anaconda3\lib\site-packages (from plotly->vanna) (1.33.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests->vanna) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->vanna) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests->vanna) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->vanna) (2024.6.2)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy->vanna) (4.13.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy->vanna) (3.0.1)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from click>=8.1.3->flask->vanna) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\user\anaconda3\lib\site-packages (from Jinja2>=3.1.2->flask->vanna) (2.1.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\user\anaconda3\lib\site-packages (from jsonschema>=3.0.1->flasgger->vanna) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\user\anaconda3\lib\site-packages (from jsonschema>=3.0.1->flasgger->vanna) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\user\anaconda3\lib\site-packages (from jsonschema>=3.0.1->flasgger->vanna) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\user\anaconda3\lib\site-packages (from jsonschema>=3.0.1->flasgger->vanna) (0.10.6)
Requirement already satisfied: wsproto in c:\users\user\anaconda3\lib\site-packages (from simple-websocket>=0.5.1->flask-sock->vanna) (1.2.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto->simple-websocket>=0.5.1->flask-sock->vanna) (0.14.0)

ERROR: Invalid requirement: '#'

Requirement already satisfied: google-generativeai in c:\users\user\anaconda3\lib\site-packages (0.8.5)
Requirement already satisfied: google-ai-generativelanguage==0.6.15 in c:\users\user\anaconda3\lib\site-packages (from google-generativeai) (0.6.15)
Requirement already satisfied: google-api-core in c:\users\user\anaconda3\lib\site-packages (from google-generativeai) (2.24.2)
Requirement already satisfied: google-api-python-client in c:\users\user\anaconda3\lib\site-packages (from google-generativeai) (2.167.0)
Requirement already satisfied: google-auth>=2.15.0 in c:\users\user\anaconda3\lib\site-packages (from google-generativeai) (2.38.0)
Requirement already satisfied: protobuf in c:\users\user\anaconda3\lib\site-packages (from google-generativeai) (5.29.4)
Requirement already satisfied: pydantic in c:\users\user\anaconda3\lib\site-packages (from google-generativeai) (2.11.3)
Requirement already satisfied: tqdm in c:\users\user\anaconda3\lib\site-packages (from google-generativeai) (4.66.4)
Requirement already satisfied: typing-extensions in c:\users\user\anaconda3\lib\site-packages (from google-generativeai) (4.13.2)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in c:\users\user\anaconda3\lib\site-packages (from google-ai-generativelanguage==0.6.15->google-generativeai) (1.26.1)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in c:\users\user\anaconda3\lib\site-packages (from google-api-core->google-generativeai) (1.69.2)
Requirement already satisfied: requests<3.0.0,>=2.18.0 in c:\users\user\anaconda3\lib\site-packages (from google-api-core->google-generativeai) (2.32.2)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from google-auth>=2.15.0->google-generativeai) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\user\anaconda3\lib\site-packages (from google-auth>=2.15.0->google-generativeai) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\user\anaconda3\lib\site-packages (from google-auth>=2.15.0->google-generativeai) (4.9)
Requirement already satisfied: httplib2<1.0.0,>=0.19.0 in c:\users\user\anaconda3\lib\site-packages (from google-api-python-client->google-generativeai) (0.22.0)
Requirement already satisfied: google-auth-httplib2<1.0.0,>=0.2.0 in c:\users\user\anaconda3\lib\site-packages (from google-api-python-client->google-generativeai) (0.2.0)
Requirement already satisfied: uritemplate<5,>=3.0.1 in c:\users\user\anaconda3\lib\site-packages (from google-api-python-client->google-generativeai) (4.1.1)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\user\anaconda3\lib\site-packages (from pydantic->google-generativeai) (0.6.0)
Requirement already satisfied: pydantic-core==2.33.1 in c:\users\user\anaconda3\lib\site-packages (from pydantic->google-generativeai) (2.33.1)
Requirement already satisfied: typing-inspection>=0.4.0 in c:\users\user\anaconda3\lib\site-packages (from pydantic->google-generativeai) (0.4.0)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from tqdm->google-generativeai) (0.4.6)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in c:\users\user\anaconda3\lib\site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-ai-generativelanguage==0.6.15->google-generativeai) (1.71.0)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in c:\users\user\anaconda3\lib\site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-ai-generativelanguage==0.6.15->google-generativeai) (1.71.0)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in c:\users\user\anaconda3\lib\site-packages (from httplib2<1.0.0,>=0.19.0->google-api-python-client->google-generativeai) (3.0.9)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\user\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth>=2.15.0->google-generativeai) (0.4.8)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0,>=2.18.0->google-api-core->google-generativeai) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0,>=2.18.0->google-api-core->google-generativeai) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0,>=2.18.0->google-api-core->google-generativeai) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0,>=2.18.0->google-api-core->google-generativeai) (2024.6.2)
Requirement already satisfied: vertexai in c:\users\user\anaconda3\lib\site-packages (1.71.1)
Requirement already satisfied: google-cloud-aiplatform==1.71.1 in c:\users\user\anaconda3\lib\site-packages (from google-cloud-aiplatform[all]==1.71.1->vertexai) (1.71.1)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.34.1 in c:\users\user\anaconda3\lib\site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.34.1->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (2.24.2)
Requirement already satisfied: google-auth<3.0.0dev,>=2.14.1 in c:\users\user\anaconda3\lib\site-packages (from google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (2.38.0)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in c:\users\user\anaconda3\lib\site-packages (from google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (1.26.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.2 in c:\users\user\anaconda3\lib\site-packages (from google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (5.29.4)
Requirement already satisfied: packaging>=14.3 in c:\users\user\anaconda3\lib\site-packages (from google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (25.0)
Requirement already satisfied: google-cloud-storage<3.0.0dev,>=1.32.0 in c:\users\user\anaconda3\lib\site-packages (from google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (2.19.0)
Requirement already satisfied: google-cloud-bigquery!=3.20.0,<4.0.0dev,>=1.15.0 in c:\users\user\anaconda3\lib\site-packages (from google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (3.31.0)
Requirement already satisfied: google-cloud-resource-manager<3.0.0dev,>=1.3.3 in c:\users\user\anaconda3\lib\site-packages (from google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (1.14.2)
Requirement already satisfied: shapely<3.0.0dev in c:\users\user\anaconda3\lib\site-packages (from google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (2.1.0)
Requirement already satisfied: pydantic<3 in c:\users\user\anaconda3\lib\site-packages (from google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (2.11.3)
Requirement already satisfied: docstring-parser<1 in c:\users\user\anaconda3\lib\site-packages (from google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (0.16)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in c:\users\user\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.34.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.34.1->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (1.69.2)
Requirement already satisfied: requests<3.0.0,>=2.18.0 in c:\users\user\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.34.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.34.1->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (2.32.2)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in c:\users\user\anaconda3\lib\site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.34.1->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (1.71.0)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in c:\users\user\anaconda3\lib\site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.34.1->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (1.71.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\user\anaconda3\lib\site-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\user\anaconda3\lib\site-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (4.9)
Requirement already satisfied: google-cloud-core<3.0.0,>=2.4.1 in c:\users\user\anaconda3\lib\site-packages (from google-cloud-bigquery!=3.20.0,<4.0.0dev,>=1.15.0->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (2.4.3)
Requirement already satisfied: google-resumable-media<3.0.0,>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from google-cloud-bigquery!=3.20.0,<4.0.0dev,>=1.15.0->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (2.7.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from google-cloud-bigquery!=3.20.0,<4.0.0dev,>=1.15.0->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (2.9.0.post0)
Requirement already satisfied: grpc-google-iam-v1<1.0.0,>=0.14.0 in c:\users\user\anaconda3\lib\site-packages (from google-cloud-resource-manager<3.0.0dev,>=1.3.3->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (0.14.2)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in c:\users\user\anaconda3\lib\site-packages (from google-cloud-storage<3.0.0dev,>=1.32.0->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (1.7.1)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\user\anaconda3\lib\site-packages (from pydantic<3->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (0.6.0)
Requirement already satisfied: pydantic-core==2.33.1 in c:\users\user\anaconda3\lib\site-packages (from pydantic<3->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (2.33.1)
Requirement already satisfied: typing-extensions>=4.12.2 in c:\users\user\anaconda3\lib\site-packages (from pydantic<3->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (4.13.2)
Requirement already satisfied: typing-inspection>=0.4.0 in c:\users\user\anaconda3\lib\site-packages (from pydantic<3->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (0.4.0)
Requirement already satisfied: numpy>=1.21 in c:\users\user\anaconda3\lib\site-packages (from shapely<3.0.0dev->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (1.26.4)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\user\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0dev,>=2.14.1->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (0.4.8)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil<3.0.0,>=2.8.2->google-cloud-bigquery!=3.20.0,<4.0.0dev,>=1.15.0->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.34.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.34.1->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.34.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.34.1->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.34.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.34.1->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.34.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,<3.0.0dev,>=1.34.1->google-cloud-aiplatform==1.71.1->google-cloud-aiplatform[all]==1.71.1->vertexai) (2024.6.2)

WARNING: google-cloud-aiplatform 1.71.1 does not provide the extra 'all'

Requirement already satisfied: fastembed in c:\users\user\anaconda3\lib\site-packages (0.6.1)
Requirement already satisfied: huggingface-hub<1.0,>=0.20 in c:\users\user\anaconda3\lib\site-packages (from fastembed) (0.30.2)
Requirement already satisfied: loguru<0.8.0,>=0.7.2 in c:\users\user\anaconda3\lib\site-packages (from fastembed) (0.7.3)
Requirement already satisfied: mmh3<6.0.0,>=4.1.0 in c:\users\user\anaconda3\lib\site-packages (from fastembed) (5.1.0)
Requirement already satisfied: numpy>=1.26 in c:\users\user\anaconda3\lib\site-packages (from fastembed) (1.26.4)
Requirement already satisfied: onnxruntime!=1.20.0,>=1.17.0 in c:\users\user\anaconda3\lib\site-packages (from fastembed) (1.21.0)
Requirement already satisfied: pillow<12.0.0,>=10.3.0 in c:\users\user\anaconda3\lib\site-packages (from fastembed) (11.2.1)
Requirement already satisfied: py-rust-stemmers<0.2.0,>=0.1.0 in c:\users\user\anaconda3\lib\site-packages (from fastembed) (0.1.5)
Requirement already satisfied: requests<3.0,>=2.31 in c:\users\user\anaconda3\lib\site-packages (from fastembed) (2.32.2)
Requirement already satisfied: tokenizers<1.0,>=0.15 in c:\users\user\anaconda3\lib\site-packages (from fastembed) (0.21.1)
Requirement already satisfied: tqdm<5.0,>=4.66 in c:\users\user\anaconda3\lib\site-packages (from fastembed) (4.66.4)
Requirement already satisfied: filelock in c:\users\user\anaconda3\lib\site-packages (from huggingface-hub<1.0,>=0.20->fastembed) (3.13.1)
Requirement already satisfied: fsspec>=2023.5.0 in c:\users\user\anaconda3\lib\site-packages (from huggingface-hub<1.0,>=0.20->fastembed) (2024.3.1)
Requirement already satisfied: packaging>=20.9 in c:\users\user\anaconda3\lib\site-packages (from huggingface-hub<1.0,>=0.20->fastembed) (25.0)
Requirement already satisfied: pyyaml>=5.1 in c:\users\user\anaconda3\lib\site-packages (from huggingface-hub<1.0,>=0.20->fastembed) (6.0.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\user\anaconda3\lib\site-packages (from huggingface-hub<1.0,>=0.20->fastembed) (4.13.2)
Requirement already satisfied: colorama>=0.3.4 in c:\users\user\anaconda3\lib\site-packages (from loguru<0.8.0,>=0.7.2->fastembed) (0.4.6)
Requirement already satisfied: win32-setctime>=1.0.0 in c:\users\user\anaconda3\lib\site-packages (from loguru<0.8.0,>=0.7.2->fastembed) (1.2.0)
Requirement already satisfied: coloredlogs in c:\users\user\anaconda3\lib\site-packages (from onnxruntime!=1.20.0,>=1.17.0->fastembed) (15.0.1)
Requirement already satisfied: flatbuffers in c:\users\user\anaconda3\lib\site-packages (from onnxruntime!=1.20.0,>=1.17.0->fastembed) (25.2.10)
Requirement already satisfied: protobuf in c:\users\user\anaconda3\lib\site-packages (from onnxruntime!=1.20.0,>=1.17.0->fastembed) (5.29.4)
Requirement already satisfied: sympy in c:\users\user\anaconda3\lib\site-packages (from onnxruntime!=1.20.0,>=1.17.0->fastembed) (1.13.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0,>=2.31->fastembed) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0,>=2.31->fastembed) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0,>=2.31->fastembed) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0,>=2.31->fastembed) (2024.6.2)
Requirement already satisfied: humanfriendly>=9.1 in c:\users\user\anaconda3\lib\site-packages (from coloredlogs->onnxruntime!=1.20.0,>=1.17.0->fastembed) (10.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in c:\users\user\anaconda3\lib\site-packages (from sympy->onnxruntime!=1.20.0,>=1.17.0->fastembed) (1.3.0)
Requirement already satisfied: pyreadline3 in c:\users\user\anaconda3\lib\site-packages (from humanfriendly>=9.1->coloredlogs->onnxruntime!=1.20.0,>=1.17.0->fastembed) (3.5.4)

## 1. Set up : Vanna AI

In [4]:
# for loading environment variables
import os
from dotenv import load_dotenv

# set up vanna ai
from vanna.qdrant import Qdrant_VectorStore
from qdrant_client import QdrantClient
from vanna.google import GoogleGeminiChat

# for text cleaning used
import re

In [5]:
# Load environment variables from .env file
load_dotenv()

# Get database connection details from environment variables

db_server = os.getenv('DB_SERVER')
db_database = os.getenv('DB_DATABASE')
db_username = os.getenv('DB_USERNAME')
db_driver = os.getenv('DB_DRIVER')

gemini_api_key = os.getenv('GEMINI_API_KEY')
gemini_model = os.getenv('GEMINI_MODEL')

qdranticlient = os.getenv('QDRANT_CLIENT')
qdrant_api_key = os.getenv("QDRANT_API_KEY")

In [6]:
from vanna.qdrant import Qdrant_VectorStore
from qdrant_client import QdrantClient
from vanna.google import GoogleGeminiChat

# Your Gemini API key and model (replace with your actual values)

# Maker sure all information is loaded and set up.
if gemini_api_key is None:
    raise ValueError("GEMINI_API_KEY environment variable not set")
if gemini_model is None:
    raise ValueError("GEMINI_MODEL environment variable not set")
if qdrant_api_key is None:
    raise ValueError("QDRANT_SERVICE_API_KEY environment variable not set")

class MyVanna(Qdrant_VectorStore, GoogleGeminiChat):  # Inherit from both
    def __init__(self, config=None):
        # Initialize the parent classes
        Qdrant_VectorStore.__init__(self, config=config)
        GoogleGeminiChat.__init__(self, config={'api_key': gemini_api_key, 'model': gemini_model})

# Set up the QdrantClient
qdrant_client = QdrantClient(host = "localhost", port=6333, api_key=qdrant_api_key, https=False)

# Pass the QdrantClient object in the config
vn = MyVanna(config={'client': qdrant_client})

print("Vanna instance created successfully!") # Verification

C:\Users\User\AppData\Local\Temp\ipykernel_35676\37702301.py:22: UserWarning: Api key is used with an insecure connection.
  qdrant_client = QdrantClient(host = "localhost", port=6333, api_key=qdrant_api_key, https=False)

Vanna instance created successfully!

# 2. Connection to Database

In [7]:
conn_str = (
    f"DRIVER={{{db_driver}}};"
    f"SERVER={db_server};"
    f"DATABASE={db_database};"
)

# Add authentication details based on whether username/password are provided
if db_username and db_password:
    print("Connecting using SQL Server Authentication...")
    conn_str += f"UID={db_username};PWD={db_password};"
else:
    print("Connecting using Windows Authentication (Trusted Connection)...")
    conn_str += "Trusted_Connection=yes;"

vn.connect_to_mssql(odbc_conn_str = conn_str)

Connecting using Windows Authentication (Trusted Connection)...

# 3. Traning (Embedding) (do it once)

3-1. Training with sql information schema

In [14]:
# The information schema query may need some tweaking depending on your database. This is a good starting point.
df_information_schema = vn.run_sql("SELECT * FROM INFORMATION_SCHEMA.COLUMNS")

# This will break up the information schema into bite-sized chunks that can be referenced by the LLM
plan = vn.get_training_plan_generic(df_information_schema)
plan

# If you like the plan, then uncomment this and run it to train
# The vectors will be stored in the Qdant's "Documentation" collection.
vn.train(plan=plan)

3-2. Traning with DDL. (Data Definition Language)

In [15]:
import re

# Set path
ddl_file_path = "create_tables.sql"

# Read the DDL file
try:
    with open(ddl_file_path, 'r', encoding='utf-8-sig') as f:
        ddl_content = f.read()
    print (f"成功讀取DDL檔案: {ddl_file_path}")

    # 檢查讀取的內容是否為空
    if not ddl_content.strip():
        print("警告: DDL 檔案是空的，將不會進行訓練。")
    else:
        print("正在清理DDL內容...")
        # 1. 移除 DROP TABLE 行
        cleaned_ddl = re.sub(r"^\s*DROP TABLE.*?;?\s*$", "", ddl_content, flags=re.MULTILINE | re.IGNORECASE)

        # 2. 移除簡單的 "-- Create/Add ..." 註解 (可選)
        cleaned_ddl = re.sub(r"^\s*--\s*(Create|Add)\s+.*?\s*$", "", cleaned_ddl, flags=re.MULTILINE | re.IGNORECASE)

        # 移除可能產生的多餘空行
        cleaned_ddl = "\n".join([line for line in cleaned_ddl.splitlines() if line.strip()])

        # 3. 將讀取的 DDL 字串傳遞給 vn.train()
        print("開始使用讀取的 DDL 進行 Vanna 訓練...")
        vn.train(ddl=cleaned_ddl)
        print("使用清理後 DDL 檔案進行訓練完成。")

except FileNotFoundError:
    print(f"錯誤: 找不到 DDL 檔案 '{ddl_file_path}'。請確認檔案路徑是否正確。")
    raise
except Exception as e:
    print(f"讀取 DDL 檔案時發生錯誤: {e}")

成功讀取DDL檔案: create_tables.sql
正在清理DDL內容...
開始使用讀取的 DDL 進行 Vanna 訓練...
Adding ddl: -- Drop tables if they exist (optional, for easier re-running)
CREATE TABLE Categories (
    category_id INT PRIMARY KEY IDENTITY(1,1), -- Use IDENTITY for SQL Server. Auto-increment for MYSQL. SERIAL FOR PostgreSQL.
    category_name VARCHAR(255) NOT NULL UNIQUE
);
CREATE TABLE Customers (
    customer_id INT PRIMARY KEY IDENTITY(1,1), -- Use IDENTITY for SQL Server auto-increment
    first_name VARCHAR(255) NOT NULL,
    last_name VARCHAR(255) NOT NULL,
    email VARCHAR(255) NOT NULL UNIQUE,
    address TEXT,
    phone VARCHAR(50) -- Increased size to accommodate longer phone numbers
);
CREATE TABLE Products (
    product_id INT PRIMARY KEY IDENTITY(1,1), -- Use IDENTITY for SQL Server auto-increment
    product_name VARCHAR(255) NOT NULL,
    description TEXT,
    price DECIMAL(10, 2) NOT NULL CHECK (price >= 0),
    category_id INT,
    FOREIGN KEY (category_id) REFERENCES Categories(category_id) ON DELETE SET NULL ON UPDATE CASCADE
);
CREATE TABLE Orders (
    order_id INT PRIMARY KEY IDENTITY(1,1), -- Use IDENTITY for SQL Server auto-increment
    customer_id INT,
    order_date DATE NOT NULL,
    total_amount DECIMAL(10, 2) NOT NULL CHECK (total_amount >= 0),
    FOREIGN KEY (customer_id) REFERENCES Customers(customer_id) ON DELETE CASCADE ON UPDATE CASCADE -- Cascade delete/update if customer is removed/changed
);
CREATE TABLE Order_Items (
    order_id INT,
    product_id INT,
    quantity INT NOT NULL CHECK (quantity > 0),
    unit_price DECIMAL(10, 2) NOT NULL CHECK (unit_price >= 0), -- Price at the time of order
    PRIMARY KEY (order_id, product_id), -- Composite primary key
    FOREIGN KEY (order_id) REFERENCES Orders(order_id) ON DELETE CASCADE ON UPDATE CASCADE, -- Cascade delete/update if order is removed/changed
    FOREIGN KEY (product_id) REFERENCES Products(product_id) ON DELETE NO ACTION ON UPDATE CASCADE -- Use NO ACTION (default behavior, similar to RESTRICT) for SQL Server
);
CREATE INDEX idx_customer_email ON Customers(email);
CREATE INDEX idx_product_name ON Products(product_name);
CREATE INDEX idx_category_name ON Categories(category_name);
CREATE INDEX idx_order_date ON Orders(order_date);
使用清理後 DDL 檔案進行訓練完成。

3-3 Training with quries and SQL statements.

In [19]:
import json
import vanna # 假設 vn 是你已經初始化好的 Vanna 物件
import pandas as pd

# 1. 載入你的 JSON 訓練資料
training_data = None
json_file_path = "training_data_bilingual.json"

try:
    with open(json_file_path, 'r', encoding='utf-8') as f:
        training_data = json.load(f)
    print(f"Successfully loaded {len(training_data)} training examples from '{json_file_path}'.")
except FileNotFoundError:
    print(f"Error: JSON file not found at '{json_file_path}'.")
    training_data = [] # 設為空列表以防後續錯誤
except json.JSONDecodeError as e:
    print(f"Error: Could not decode JSON from '{json_file_path}'. Invalid JSON format? Error: {e}")
    training_data = []
except Exception as e:
    print(f"An unexpected error occurred while reading the JSON file: {e}")
    training_data = []

# 2. 檢查 training_data 是否成功載入且是一個列表
if training_data and isinstance(training_data, list):
    print("Starting Vanna training...")
    total_items = len(training_data)
    processed_count = 0
    failed_items = []

    # 3. 遍歷列表中的每一個項目
    for i, item in enumerate(training_data):
        item_index = i + 1
        print(f"\nProcessing item {item_index}/{total_items}...")

        try:
            # 檢查項目是否為字典且包含所有必要鍵值
            required_keys = ['query_en', 'query_zh', 'sql_syntax']
            if isinstance(item, dict) and all(key in item for key in required_keys):
                 # 從字典中取出英文問題、中文問題和 SQL
                question_en = item['query_en']
                question_zh = item['query_zh']
                sql = item['sql_syntax']

                # 確保問題和 SQL 都不是空的
                if question_en and question_zh and sql:
                    # --- 訓練英文問題 ---
                    print(f"  Training (EN): Q: {question_en[:80]}... SQL: {sql[:80]}...")
                    vn.train(question=question_en, sql=sql)

                    # --- 訓練中文問題 ---
                    print(f"  Training (ZH): Q: {question_zh[:80]}... SQL: {sql[:80]}...")
                    vn.train(question=question_zh, sql=sql)

                    processed_count += 1
                    print(f"  Item {item_index} trained successfully (both languages).")
                else:
                    missing = []
                    if not question_en: missing.append("'query_en'")
                    if not question_zh: missing.append("'query_zh'")
                    if not sql: missing.append("'sql_syntax'")
                    reason = f"Empty value(s) for {', '.join(missing)}"
                    print(f"  Warning: Skipping item {item_index} due to {reason}.")
                    failed_items.append({'index': item_index, 'item': item, 'reason': reason})
            else:
                 missing_keys = [key for key in required_keys if key not in item]
                 reason = f"Invalid format or missing keys: {', '.join(missing_keys)}" if missing_keys else "Invalid format (not a dict?)"
                 print(f"  Warning: Skipping item {item_index} because: {reason}.")
                 failed_items.append({'index': item_index, 'item': item, 'reason': reason})

        except Exception as e:
            error_message = f"Unexpected error: {str(e)}"
            print(f"  Error training item {item_index}: {error_message}")
            failed_items.append({'index': item_index, 'item': item, 'reason': error_message})

    print("\n--------------------")
    print("Training loop finished.")
    print(f"Successfully processed and trained {processed_count} items (each potentially adding EN and ZH pairs).")
    if failed_items:
        print(f"{len(failed_items)} items failed or were skipped during training:")
        # 可選擇取消註解以印出詳細錯誤
        # for failure in failed_items:
        #    print(f"  - Index: {failure['index']}, Reason: {failure['reason']}") # , Item: {failure['item']}")
    else:
        print("All items processed without errors (or were validly skipped due to empty fields).")

elif not training_data:
     print("Training data is empty or failed to load. Skipping training.")
else:
     print(f"Error: Expected training_data to be a list, but got {type(training_data)}. Skipping training.")

Successfully loaded 24 training examples from 'training_data_bilingual.json'.
Starting Vanna training...

Processing item 1/24...
  Training (EN): Q: Show me all product names.... SQL: SELECT product_name FROM Products;...
  Training (ZH): Q: 顯示所有產品的名稱。... SQL: SELECT product_name FROM Products;...
  Item 1 trained successfully (both languages).

Processing item 2/24...
  Training (EN): Q: List the first name, last name, and email of customers whose first name is 'John... SQL: SELECT first_name, last_name, email FROM Customers WHERE first_name = 'John';...
  Training (ZH): Q: 列出名字是 'John' 的客戶的名字、姓氏和電子郵件。... SQL: SELECT first_name, last_name, email FROM Customers WHERE first_name = 'John';...
  Item 2 trained successfully (both languages).

Processing item 3/24...
  Training (EN): Q: Find the top 10 most expensive products, showing their name and price, ordered b... SQL: SELECT TOP 10 product_name, price FROM Products ORDER BY price DESC;...
  Training (ZH): Q: 找出前10個最貴的產品，顯示它們的名稱和價格，並按價格由高到低排序。... SQL: SELECT TOP 10 product_name, price FROM Products ORDER BY price DESC;...
  Item 3 trained successfully (both languages).

Processing item 4/24...
  Training (EN): Q: Find all customers whose email address ends with '@example.com'.... SQL: SELECT customer_id, first_name, last_name, email FROM Customers WHERE email LIKE...
  Training (ZH): Q: 找出所有電子郵件地址以 '@example.com' 結尾的客戶。... SQL: SELECT customer_id, first_name, last_name, email FROM Customers WHERE email LIKE...
  Item 4 trained successfully (both languages).

Processing item 5/24...
  Training (EN): Q: How many products belong to category ID 1 or 3?... SQL: SELECT COUNT(product_id) AS NumberOfProducts FROM Products WHERE category_id IN ...
  Training (ZH): Q: 有多少產品是屬於分類 ID 1 或 3 的？... SQL: SELECT COUNT(product_id) AS NumberOfProducts FROM Products WHERE category_id IN ...
  Item 5 trained successfully (both languages).

Processing item 6/24...
  Training (EN): Q: What is the average price of products in category ID 2?... SQL: SELECT AVG(price) AS AveragePrice FROM Products WHERE category_id = 2;...
  Training (ZH): Q: 分類 ID 2 的產品平均價格是多少？... SQL: SELECT AVG(price) AS AveragePrice FROM Products WHERE category_id = 2;...
  Item 6 trained successfully (both languages).

Processing item 7/24...
  Training (EN): Q: Show the first name of customers and their corresponding order dates.... SQL: SELECT C.first_name, O.order_date
FROM Customers AS C
INNER JOIN Orders AS O O...
  Training (ZH): Q: 顯示客戶的名字以及他們對應的訂單日期。... SQL: SELECT C.first_name, O.order_date
FROM Customers AS C
INNER JOIN Orders AS O O...
  Item 7 trained successfully (both languages).

Processing item 8/24...
  Training (EN): Q: Count the number of products in each category. Show the category name and the co... SQL: SELECT Cat.category_name, COUNT(P.product_id) AS NumberOfProducts
FROM Categori...
  Training (ZH): Q: 計算每個分類中有多少產品。顯示分類名稱和產品數量。... SQL: SELECT Cat.category_name, COUNT(P.product_id) AS NumberOfProducts
FROM Categori...
  Item 8 trained successfully (both languages).

Processing item 9/24...
  Training (EN): Q: List the customer ID and the total number of orders for customers who have place... SQL: SELECT C.customer_id, COUNT(O.order_id) AS TotalOrders
FROM Customers AS C
INN...
  Training (ZH): Q: 列出下單超過3次的客戶的客戶ID及其訂單總數。... SQL: SELECT C.customer_id, COUNT(O.order_id) AS TotalOrders
FROM Customers AS C
INN...
  Item 9 trained successfully (both languages).

Processing item 10/24...
  Training (EN): Q: List the names of customers who have placed any orders.... SQL: SELECT first_name, last_name
FROM Customers
WHERE customer_id IN (SELECT DISTI...
  Training (ZH): Q: 列出所有下過訂單的客戶姓名。... SQL: SELECT first_name, last_name
FROM Customers
WHERE customer_id IN (SELECT DISTI...
  Item 10 trained successfully (both languages).

Processing item 11/24...
  Training (EN): Q: Show products that cost more than the average product price.... SQL: SELECT product_name, price
FROM Products
WHERE price > (SELECT AVG(price) FROM...
  Training (ZH): Q: 顯示價格高於所有產品平均價格的產品。... SQL: SELECT product_name, price
FROM Products
WHERE price > (SELECT AVG(price) FROM...
  Item 11 trained successfully (both languages).

Processing item 12/24...
  Training (EN): Q: Show category names that contain at least one product.... SQL: SELECT C.category_name
FROM Categories AS C
WHERE EXISTS (SELECT 1 FROM Produc...
  Training (ZH): Q: 顯示至少包含一個產品的分類名稱。... SQL: SELECT C.category_name
FROM Categories AS C
WHERE EXISTS (SELECT 1 FROM Produc...
  Item 12 trained successfully (both languages).

Processing item 13/24...
  Training (EN): Q: List all customers' first names and their order dates. Include customers who hav... SQL: SELECT C.first_name, O.order_date
FROM Customers AS C
LEFT JOIN Orders AS O ON...
  Training (ZH): Q: 列出所有客戶的名字及其訂單日期。包含尚未下任何訂單的客戶。... SQL: SELECT C.first_name, O.order_date
FROM Customers AS C
LEFT JOIN Orders AS O ON...
  Item 13 trained successfully (both languages).

Processing item 14/24...
  Training (EN): Q: Show the name of each category and the total number of products belonging to it.... SQL: SELECT Cat.category_name, COUNT(P.product_id) AS NumberOfProducts
FROM Categori...
  Training (ZH): Q: 顯示每個分類的名稱及其包含的產品總數。包含產品數量為零的分類。... SQL: SELECT Cat.category_name, COUNT(P.product_id) AS NumberOfProducts
FROM Categori...
  Item 14 trained successfully (both languages).

Processing item 15/24...
  Training (EN): Q: Find the product names and quantities for order ID 5.... SQL: SELECT P.product_name, OI.quantity
FROM Order_Items AS OI
INNER JOIN Products ...
  Training (ZH): Q: 找出訂單 ID 為 5 的產品名稱和數量。... SQL: SELECT P.product_name, OI.quantity
FROM Order_Items AS OI
INNER JOIN Products ...
  Item 15 trained successfully (both languages).

Processing item 16/24...
  Training (EN): Q: Show each product's name, its price, its category name, and the average price of... SQL: SELECT
    P.product_name,
    P.price,
    C.category_name,
    AVG(P.price...
  Training (ZH): Q: 顯示每個產品的名稱、價格、其分類名稱，以及該分類所有產品的平均價格。... SQL: SELECT
    P.product_name,
    P.price,
    C.category_name,
    AVG(P.price...
  Item 16 trained successfully (both languages).

Processing item 17/24...
  Training (EN): Q: List the top 3 most expensive products within each category, showing category na... SQL: WITH RankedProducts AS (
    SELECT
        C.category_name,
        P.product...
  Training (ZH): Q: 列出每個分類中最貴的前3個產品，顯示分類名稱、產品名稱和價格。... SQL: WITH RankedProducts AS (
    SELECT
        C.category_name,
        P.product...
  Item 17 trained successfully (both languages).

Processing item 18/24...
  Training (EN): Q: Find the names and emails of customers who have ordered the absolute most expens... SQL: WITH MaxPriceProduct AS (
    -- 找出價格最高的產品ID
    SELECT product_id
    FROM Prod...
  Training (ZH): Q: 找出訂購了所有分類中最貴產品的客戶姓名和電子郵件。... SQL: WITH MaxPriceProduct AS (
    -- 找出價格最高的產品ID
    SELECT product_id
    FROM Prod...
  Item 18 trained successfully (both languages).

Processing item 19/24...
  Training (EN): Q: Add a new customer named 'Peter' 'Pan' with email 'peter.p@neverland.com' and ph... SQL: INSERT INTO Customers (first_name, last_name, email, phone) VALUES ('Peter', 'Pa...
  Training (ZH): Q: 新增一位客戶，姓名為 'Peter Pan'，電子郵件是 'peter.p@neverland.com'，電話是 '555-9876'。... SQL: INSERT INTO Customers (first_name, last_name, email, phone) VALUES ('Peter', 'Pa...
  Item 19 trained successfully (both languages).

Processing item 20/24...
  Training (EN): Q: Change the phone number for the customer with email 'john.doe@example.com' to '5... SQL: UPDATE Customers SET phone = '555-1111' WHERE email = 'john.doe@example.com';...
  Training (ZH): Q: 將電子郵件為 'john.doe@example.com' 的客戶的電話號碼更改為 '555-1111'。... SQL: UPDATE Customers SET phone = '555-1111' WHERE email = 'john.doe@example.com';...
  Item 20 trained successfully (both languages).

Processing item 21/24...
  Training (EN): Q: Calculate the total quantity of all items ordered between '2023-10-01' and '2023... SQL: SELECT SUM(OI.quantity) AS TotalItemQuantity
FROM Orders AS O
INNER JOIN Custo...
  Training (ZH): Q: 計算名字是 'David' 的客戶在 '2023-10-01' 到 '2023-12-31' 期間訂購的所有商品總數量是多少？... SQL: SELECT SUM(OI.quantity) AS TotalItemQuantity
FROM Orders AS O
INNER JOIN Custo...
  Item 21 trained successfully (both languages).

Processing item 22/24...
  Training (EN): Q: Remove the customer with the email 'peter.p@neverland.com'.... SQL: DELETE FROM Customers WHERE email = 'peter.p@neverland.com';...
  Training (ZH): Q: 移除電子郵件為 'peter.p@neverland.com' 的客戶。... SQL: DELETE FROM Customers WHERE email = 'peter.p@neverland.com';...
  Item 22 trained successfully (both languages).

Processing item 23/24...
  Training (EN): Q: How many distinct products were ordered in total across all orders?... SQL: SELECT COUNT(DISTINCT product_id) AS DistinctProductCount FROM Order_Items;...
  Training (ZH): Q: 所有訂單總共訂購了多少種不同的產品？... SQL: SELECT COUNT(DISTINCT product_id) AS DistinctProductCount FROM Order_Items;...
  Item 23 trained successfully (both languages).

Processing item 24/24...
  Training (EN): Q: Create a view named 'ProductCategoryView' that shows the product name and its co... SQL: CREATE VIEW ProductCategoryView AS
SELECT
    P.product_name,
    C.category_n...
  Training (ZH): Q: 建立一個名為 'ProductCategoryView' 的檢視表，顯示產品名稱及其對應的分類名稱。... SQL: CREATE VIEW ProductCategoryView AS
SELECT
    P.product_name,
    C.category_n...
  Item 24 trained successfully (both languages).

--------------------
Training loop finished.
Successfully processed and trained 24 items (each potentially adding EN and ZH pairs).
All items processed without errors (or were validly skipped due to empty fields).

In [21]:
# At any time you can inspect what training data the package is able to reference
full_training_data = vn.get_training_data()
full_training_data

,id,question,content,training_data_type
0,010c4f84-9f2b-569b-ae49-68a8f2ee2207-sql,Find all customers whose email address ends wi...,"SELECT customer_id, first_name, last_name, ema...",sql
1,0393e7e6-6aee-5027-9040-068503141d77-sql,建立一個名為 'ProductCategoryView' 的檢視表，顯示產品名稱及其對應的分...,CREATE VIEW ProductCategoryView AS\nSELECT \n ...,sql
2,05dd4b7e-507d-5208-9272-ec24df51bc4a-sql,List the customer ID and the total number of o...,"SELECT C.customer_id, COUNT(O.order_id) AS Tot...",sql
3,090950d2-5392-56ba-95f6-b144ff50e5f4-sql,Create a view named 'ProductCategoryView' that...,CREATE VIEW ProductCategoryView AS\nSELECT \n ...,sql
4,096443ea-758f-5cc5-a87a-8e595abc83fa-sql,新增一位客戶，姓名為 'Peter Pan'，電子郵件是 'peter.p@neverlan...,"INSERT INTO Customers (first_name, last_name, ...",sql
5,0f2ad796-0271-56f3-828d-f4973a971ba8-sql,找出訂單 ID 為 5 的產品名稱和數量。,"SELECT P.product_name, OI.quantity \nFROM Orde...",sql
6,116b6447-e81a-5d3f-822a-77fccf977486-sql,Count the number of products in each category....,"SELECT Cat.category_name, COUNT(P.product_id) ...",sql
7,19ecb329-2c3c-564c-b3d9-c8810b2799c7-sql,列出下單超過3次的客戶的客戶ID及其訂單總數。,"SELECT C.customer_id, COUNT(O.order_id) AS Tot...",sql
8,2004a09b-6c9a-5dc4-9fe8-9d415c1aa1ed-sql,顯示價格高於所有產品平均價格的產品。,"SELECT product_name, price \nFROM Products \nW...",sql
9,24d1c632-6d6e-5826-b16e-afd50a0e1c1f-sql,計算每個分類中有多少產品。顯示分類名稱和產品數量。,"SELECT Cat.category_name, COUNT(P.product_id) ...",sql
10,25a1b7ad-b45f-5938-8752-ae73f43fe9d7-sql,移除電子郵件為 'peter.p@neverland.com' 的客戶。,DELETE FROM Customers WHERE email = 'peter.p@n...,sql
11,2910ff66-c3ca-5160-aa4f-3ce43e7ab1fc-sql,How many products belong to category ID 1 or 3?,SELECT COUNT(product_id) AS NumberOfProducts F...,sql
12,35dcfd91-bbea-5774-91b2-4e2ff2757bf9-sql,列出每個分類中最貴的前3個產品，顯示分類名稱、產品名稱和價格。,WITH RankedProducts AS (\n SELECT \n ...,sql
13,3f24f27a-eb0d-5f04-8281-20cd7b3868c9-sql,顯示所有產品的名稱。,SELECT product_name FROM Products;,sql
14,3f460a54-fb6e-53bc-8e5a-44d8d84d32f1-sql,"Find the top 10 most expensive products, showi...","SELECT TOP 10 product_name, price FROM Product...",sql
15,49a18a64-fe8c-5770-9558-9c2e36f35594-sql,顯示每個分類的名稱及其包含的產品總數。包含產品數量為零的分類。,"SELECT Cat.category_name, COUNT(P.product_id) ...",sql
16,5ceda653-2338-55ec-a0c7-9446ef2a19e0-sql,顯示每個產品的名稱、價格、其分類名稱，以及該分類所有產品的平均價格。,"SELECT \n P.product_name, \n P.price, \n...",sql
17,5f7aad0f-f0e2-594d-8182-ac87b16f9fa1-sql,"List the first name, last name, and email of c...","SELECT first_name, last_name, email FROM Custo...",sql
18,68d6da04-9589-5f04-9345-b2c7c2cda1b7-sql,計算名字是 'David' 的客戶在 '2023-10-01' 到 '2023-12-31'...,SELECT SUM(OI.quantity) AS TotalItemQuantity \...,sql
19,68e21dfe-2924-58b8-8302-908cfadb8202-sql,Show products that cost more than the average ...,"SELECT product_name, price \nFROM Products \nW...",sql
20,6a117e58-95d7-57d5-8073-28f0de948323-sql,找出所有電子郵件地址以 '@example.com' 結尾的客戶。,"SELECT customer_id, first_name, last_name, ema...",sql
21,6d86b90d-bfe6-5dd8-ab10-0751561d2a3f-sql,List the top 3 most expensive products within ...,WITH RankedProducts AS (\n SELECT \n ...,sql
22,6e2fa228-c37b-51fc-8b1b-a55e1d7ffcca-sql,Remove the customer with the email 'peter.p@ne...,DELETE FROM Customers WHERE email = 'peter.p@n...,sql
23,70a04723-71dd-5f90-874f-43ef661f1faf-sql,找出前10個最貴的產品，顯示它們的名稱和價格，並按價格由高到低排序。,"SELECT TOP 10 product_name, price FROM Product...",sql
24,73acc7fc-aea9-59a9-8602-c25db9e11a67-sql,List the names of customers who have placed an...,"SELECT first_name, last_name \nFROM Customers ...",sql
25,78c65158-cc9f-5a1c-9aa5-93ecb31700f0-sql,How many distinct products were ordered in tot...,SELECT COUNT(DISTINCT product_id) AS DistinctP...,sql
26,796ff08a-0d19-5e1f-b6ed-93ebd59e412a-sql,Show category names that contain at least one ...,SELECT C.category_name \nFROM Categories AS C ...,sql
27,7ba44216-78a6-5484-a4d0-187f8053eb6f-sql,找出訂購了所有分類中最貴產品的客戶姓名和電子郵件。,WITH MaxPriceProduct AS (\n -- 找出價格最高的產品ID\...,sql
28,84c58163-35d1-5a85-ac16-ab1f8f9cde8a-sql,Add a new customer named 'Peter' 'Pan' with em...,"INSERT INTO Customers (first_name, last_name, ...",sql
29,8526dc47-6964-5b3b-8923-7811570c5f12-sql,Find the product names and quantities for orde...,"SELECT P.product_name, OI.quantity \nFROM Orde...",sql
30,86fab303-7c34-5cc0-985f-6b73f755b8c6-sql,"Show each product's name, its price, its categ...","SELECT \n P.product_name, \n P.price, \n...",sql
31,9da5d668-82a8-5b03-8557-8d385feb8885-sql,Change the phone number for the customer with ...,UPDATE Customers SET phone = '555-1111' WHERE ...,sql
32,9def4fa8-abd2-5526-8f0a-323164d9e0bb-sql,列出所有客戶的名字及其訂單日期。包含尚未下任何訂單的客戶。,"SELECT C.first_name, O.order_date \nFROM Custo...",sql
33,b5bcbb31-4462-5535-835e-81cc0242c6b0-sql,List all customers' first names and their orde...,"SELECT C.first_name, O.order_date \nFROM Custo...",sql
34,b9d9bcc6-340c-571c-b4c8-a2c63183bba1-sql,Show the first name of customers and their cor...,"SELECT C.first_name, O.order_date \nFROM Custo...",sql
35,c3588b1f-8a3a-5c19-9c7c-ff0023860799-sql,What is the average price of products in categ...,SELECT AVG(price) AS AveragePrice FROM Product...,sql
36,d2432d43-db8b-5f19-9b42-fd49049e6412-sql,分類 ID 2 的產品平均價格是多少？,SELECT AVG(price) AS AveragePrice FROM Product...,sql
37,d3a079a1-f667-514e-804f-0e0351cb21ab-sql,將電子郵件為 'john.doe@example.com' 的客戶的電話號碼更改為 '555...,UPDATE Customers SET phone = '555-1111' WHERE ...,sql
38,d6d18766-6538-5a8a-bbef-f93148c7d948-sql,列出所有下過訂單的客戶姓名。,"SELECT first_name, last_name \nFROM Customers ...",sql
39,dc3ba7c8-5a9c-5309-a0df-53728544ff74-sql,Show me all product names.,SELECT product_name FROM Products;,sql
40,ded08784-ae72-5600-acdb-f81e516dba86-sql,Calculate the total quantity of all items orde...,SELECT SUM(OI.quantity) AS TotalItemQuantity \...,sql
41,e96c45d0-45be-52c8-890d-bf68ef2ead95-sql,Show the name of each category and the total n...,"SELECT Cat.category_name, COUNT(P.product_id) ...",sql
42,f04389a3-8260-5bf1-ad74-7c4ecaae0bc9-sql,顯示客戶的名字以及他們對應的訂單日期。,"SELECT C.first_name, O.order_date \nFROM Custo...",sql
43,f0b9288a-5d45-5f40-b576-14506ba4c668-sql,所有訂單總共訂購了多少種不同的產品？,SELECT COUNT(DISTINCT product_id) AS DistinctP...,sql
44,f5dde6df-54dc-519d-adff-8fdaa929a3ed-sql,Find the names and emails of customers who hav...,WITH MaxPriceProduct AS (\n -- 找出價格最高的產品ID\...,sql
45,fb09cd6f-09eb-5dc7-a855-a5b5f0cb997c-sql,有多少產品是屬於分類 ID 1 或 3 的？,SELECT COUNT(product_id) AS NumberOfProducts F...,sql
46,fba4324f-485e-56d7-afc0-870390637b44-sql,顯示至少包含一個產品的分類名稱。,SELECT C.category_name \nFROM Categories AS C ...,sql
47,fde6e036-de7a-53a5-9ffa-74be931614cf-sql,列出名字是 'John' 的客戶的名字、姓氏和電子郵件。,"SELECT first_name, last_name, email FROM Custo...",sql
0,8b0e4474-6cd4-5138-9871-1daa215f4753-ddl,None,"-- Drop tables if they exist (optional, for ea...",ddl
0,1ed3fc4f-7b83-5df6-bda0-7f07e0f8de1f-doc,None,The following columns are in the Orders table ...,documentation
1,4ee3a697-02a5-579e-a5bf-bcc532d145d9-doc,None,The following columns are in the Customers tab...,documentation
2,798be688-c8f7-5b9e-a964-78fa20cfb531-doc,None,The following columns are in the Order_Items t...,documentation
3,b05b4bdc-aefa-534e-b6c6-ddf169c8248c-doc,None,The following columns are in the Products tabl...,documentation
4,e1acf5b0-2c45-56b5-8718-dcfef73da20d-doc,None,The following columns are in the sysdiagrams t...,documentation
5,e5c6e2f9-ba10-5c34-afe2-806f7b9218c4-doc,None,The following columns are in the Categories ta...,documentation

# 4. Talk to the database

In [8]:
vn.generate_sql("找出訂單 ID 為 5 的產品名稱和數量")

SQL Prompt: ["You are a T-SQL / Microsoft SQL Server expert. Please help to generate a SQL query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions. \n===Tables \n-- Drop tables if they exist (optional, for easier re-running)\nCREATE TABLE Categories (\n    category_id INT PRIMARY KEY IDENTITY(1,1), -- Use IDENTITY for SQL Server. Auto-increment for MYSQL. SERIAL FOR PostgreSQL.\n    category_name VARCHAR(255) NOT NULL UNIQUE\n);\nCREATE TABLE Customers (\n    customer_id INT PRIMARY KEY IDENTITY(1,1), -- Use IDENTITY for SQL Server auto-increment\n    first_name VARCHAR(255) NOT NULL,\n    last_name VARCHAR(255) NOT NULL,\n    email VARCHAR(255) NOT NULL UNIQUE,\n    address TEXT,\n    phone VARCHAR(50) -- Increased size to accommodate longer phone numbers\n);\nCREATE TABLE Products (\n    product_id INT PRIMARY KEY IDENTITY(1,1), -- Use IDENTITY for SQL Server auto-increment\n    product_name VARCHAR(255) NOT NULL,\n    description TEXT,\n    price DECIMAL(10, 2) NOT NULL CHECK (price >= 0),\n    category_id INT,\n    FOREIGN KEY (category_id) REFERENCES Categories(category_id) ON DELETE SET NULL ON UPDATE CASCADE\n);\nCREATE TABLE Orders (\n    order_id INT PRIMARY KEY IDENTITY(1,1), -- Use IDENTITY for SQL Server auto-increment\n    customer_id INT,\n    order_date DATE NOT NULL,\n    total_amount DECIMAL(10, 2) NOT NULL CHECK (total_amount >= 0),\n    FOREIGN KEY (customer_id) REFERENCES Customers(customer_id) ON DELETE CASCADE ON UPDATE CASCADE -- Cascade delete/update if customer is removed/changed\n);\nCREATE TABLE Order_Items (\n    order_id INT,\n    product_id INT,\n    quantity INT NOT NULL CHECK (quantity > 0),\n    unit_price DECIMAL(10, 2) NOT NULL CHECK (unit_price >= 0), -- Price at the time of order\n    PRIMARY KEY (order_id, product_id), -- Composite primary key\n    FOREIGN KEY (order_id) REFERENCES Orders(order_id) ON DELETE CASCADE ON UPDATE CASCADE, -- Cascade delete/update if order is removed/changed\n    FOREIGN KEY (product_id) REFERENCES Products(product_id) ON DELETE NO ACTION ON UPDATE CASCADE -- Use NO ACTION (default behavior, similar to RESTRICT) for SQL Server\n);\nCREATE INDEX idx_customer_email ON Customers(email);\nCREATE INDEX idx_product_name ON Products(product_name);\nCREATE INDEX idx_category_name ON Categories(category_name);\nCREATE INDEX idx_order_date ON Orders(order_date);\n\n\n===Additional Context \n\nThe following columns are in the Customers table in the practice_dataset database:\n\n|    | TABLE_CATALOG    | TABLE_SCHEMA   | TABLE_NAME   | COLUMN_NAME   | DATA_TYPE   |\n|---:|:-----------------|:---------------|:-------------|:--------------|:------------|\n| 15 | practice_dataset | dbo            | Customers    | customer_id   | int         |\n| 16 | practice_dataset | dbo            | Customers    | first_name    | varchar     |\n| 17 | practice_dataset | dbo            | Customers    | last_name     | varchar     |\n| 18 | practice_dataset | dbo            | Customers    | email         | varchar     |\n| 19 | practice_dataset | dbo            | Customers    | address       | text        |\n| 20 | practice_dataset | dbo            | Customers    | phone         | varchar     |\n\nThe following columns are in the Categories table in the practice_dataset database:\n\n|    | TABLE_CATALOG    | TABLE_SCHEMA   | TABLE_NAME   | COLUMN_NAME   | DATA_TYPE   |\n|---:|:-----------------|:---------------|:-------------|:--------------|:------------|\n| 13 | practice_dataset | dbo            | Categories   | category_id   | int         |\n| 14 | practice_dataset | dbo            | Categories   | category_name | varchar     |\n\nThe following columns are in the Order_Items table in the practice_dataset database:\n\n|    | TABLE_CATALOG    | TABLE_SCHEMA   | TABLE_NAME   | COLUMN_NAME   | DATA_TYPE   |\n|---:|:-----------------|:---------------|:-------------|:--------------|:------------|\n|  4 | practice_dataset | dbo            | Order_Items  | order_id      | int         |\n|  5 | practice_dataset | dbo            | Order_Items  | product_id    | int         |\n|  6 | practice_dataset | dbo            | Order_Items  | quantity      | int         |\n|  7 | practice_dataset | dbo            | Order_Items  | unit_price    | decimal     |\n\nThe following columns are in the sysdiagrams table in the practice_dataset database:\n\n|    | TABLE_CATALOG    | TABLE_SCHEMA   | TABLE_NAME   | COLUMN_NAME   | DATA_TYPE   |\n|---:|:-----------------|:---------------|:-------------|:--------------|:------------|\n|  8 | practice_dataset | dbo            | sysdiagrams  | name          | nvarchar    |\n|  9 | practice_dataset | dbo            | sysdiagrams  | principal_id  | int         |\n| 10 | practice_dataset | dbo            | sysdiagrams  | diagram_id    | int         |\n| 11 | practice_dataset | dbo            | sysdiagrams  | version       | int         |\n| 12 | practice_dataset | dbo            | sysdiagrams  | definition    | varbinary   |\n\nThe following columns are in the Orders table in the practice_dataset database:\n\n|    | TABLE_CATALOG    | TABLE_SCHEMA   | TABLE_NAME   | COLUMN_NAME   | DATA_TYPE   |\n|---:|:-----------------|:---------------|:-------------|:--------------|:------------|\n|  0 | practice_dataset | dbo            | Orders       | order_id      | int         |\n|  1 | practice_dataset | dbo            | Orders       | customer_id   | int         |\n|  2 | practice_dataset | dbo            | Orders       | order_date    | date        |\n|  3 | practice_dataset | dbo            | Orders       | total_amount  | decimal     |\n\nThe following columns are in the Products table in the practice_dataset database:\n\n|    | TABLE_CATALOG    | TABLE_SCHEMA   | TABLE_NAME   | COLUMN_NAME   | DATA_TYPE   |\n|---:|:-----------------|:---------------|:-------------|:--------------|:------------|\n| 21 | practice_dataset | dbo            | Products     | product_id    | int         |\n| 22 | practice_dataset | dbo            | Products     | product_name  | varchar     |\n| 23 | practice_dataset | dbo            | Products     | description   | text        |\n| 24 | practice_dataset | dbo            | Products     | price         | decimal     |\n| 25 | practice_dataset | dbo            | Products     | category_id   | int         |\n\n===Response Guidelines \n1. If the provided context is sufficient, please generate a valid SQL query without any explanations for the question. \n2. If the provided context is almost sufficient but requires knowledge of a specific string in a particular column, please generate an intermediate SQL query to find the distinct strings in that column. Prepend the query with a comment saying intermediate_sql \n3. If the provided context is insufficient, please explain why it can't be generated. \n4. Please use the most relevant table(s). \n5. If the question has been asked and answered before, please repeat the answer exactly as it was given before. \n6. Ensure that the output SQL is T-SQL / Microsoft SQL Server-compliant and executable, and free of syntax errors. \n", '找出訂單 ID 為 5 的產品名稱和數量，並劃出來', 'SELECT P.product_name, OI.quantity\nFROM Order_Items AS OI\nINNER JOIN Products AS P ON OI.product_id = P.product_id\nWHERE OI.order_id = 5;', '找出訂單 ID 為 5 的產品名稱和數量。', 'SELECT P.product_name, OI.quantity \nFROM Order_Items AS OI \nINNER JOIN Products AS P ON OI.product_id = P.product_id \nWHERE OI.order_id = 5;', "列出名字是 'John' 的客戶的名字、姓氏和電子郵件。", "SELECT first_name, last_name, email FROM Customers WHERE first_name = 'John';", "計算名字是 'David' 的客戶在 '2023-10-01' 到 '2023-12-31' 期間訂購的所有商品總數量是多少？", "SELECT SUM(OI.quantity) AS TotalItemQuantity \nFROM Orders AS O \nINNER JOIN Customers AS C ON O.customer_id = C.customer_id \nINNER JOIN Order_Items AS OI ON O.order_id = OI.order_id \nWHERE C.first_name = 'David' \n  AND O.order_date BETWEEN '2023-10-01' AND '2023-12-31';", '列出下單超過3次的客戶的客戶ID及其訂單總數。', 'SELECT C.customer_id, COUNT(O.order_id) AS TotalOrders \nFROM Customers AS C \nINNER JOIN Orders AS O ON C.customer_id = O.customer_id \nGROUP BY C.customer_id \nHAVING COUNT(O.order_id) > 3;', '找出訂購了所有分類中最貴產品的客戶姓名和電子郵件。', 'WITH MaxPriceProduct AS (\n    -- 找出價格最高的產品ID\n    SELECT product_id\n    FROM Products\n    WHERE price = (SELECT MAX(price) FROM Products)\n),\nOrdersWithMaxProduct AS (\n    -- 找出包含這些最貴產品的訂單ID\n    SELECT DISTINCT OI.order_id\n    FROM Order_Items AS OI\n    INNER JOIN MaxPriceProduct AS MPP ON OI.product_id = MPP.product_id\n),\nCustomersWithMaxProductOrder AS (\n    -- 找出下了這些訂單的客戶ID\n    SELECT DISTINCT O.customer_id\n    FROM Orders AS O\n    INNER JOIN OrdersWithMaxProduct AS OWMP ON O.order_id = OWMP.order_id\n)\n-- 選出這些客戶的詳細資訊\nSELECT \n    C.first_name, \n    C.last_name, \n    C.email \nFROM Customers AS C\nINNER JOIN CustomersWithMaxProductOrder AS CWMP ON C.customer_id = CWMP.customer_id;', "新增一位客戶，姓名為 'Peter Pan'，電子郵件是 'peter.p@neverland.com'，電話是 '555-9876'。", "INSERT INTO Customers (first_name, last_name, email, phone) VALUES ('Peter', 'Pan', 'peter.p@neverland.com', '555-9876');", '列出所有客戶的名字及其訂單日期。包含尚未下任何訂單的客戶。', 'SELECT C.first_name, O.order_date \nFROM Customers AS C \nLEFT JOIN Orders AS O ON C.customer_id = O.customer_id;', '列出所有下過訂單的客戶姓名。', 'SELECT first_name, last_name \nFROM Customers \nWHERE customer_id IN (SELECT DISTINCT customer_id FROM Orders);', '顯示每個產品的名稱、價格、其分類名稱，以及該分類所有產品的平均價格。', 'SELECT \n    P.product_name, \n    P.price, \n    C.category_name, \n    AVG(P.price) OVER (PARTITION BY P.category_id) AS AvgCategoryPrice \nFROM Products AS P \nINNER JOIN Categories AS C ON P.category_id = C.category_id;', '找出訂單 ID 為 5 的產品名稱和數量']
LLM Response: ```sql
SELECT P.product_name, OI.quantity
FROM Order_Items AS OI
INNER JOIN Products AS P ON OI.product_id = P.product_id
WHERE OI.order_id = 5;
```
Extracted SQL: SELECT P.product_name, OI.quantity
FROM Order_Items AS OI
INNER JOIN Products AS P ON OI.product_id = P.product_id
WHERE OI.order_id = 5;

'SELECT P.product_name, OI.quantity\nFROM Order_Items AS OI\nINNER JOIN Products AS P ON OI.product_id = P.product_id\nWHERE OI.order_id = 5;'

In [ ]:
vn.ask("找出訂單 ID 為 5 的產品名稱和數量")

SQL Prompt: ["You are a T-SQL / Microsoft SQL Server expert. Please help to generate a SQL query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions. \n===Tables \n-- Drop tables if they exist (optional, for easier re-running)\nCREATE TABLE Categories (\n    category_id INT PRIMARY KEY IDENTITY(1,1), -- Use IDENTITY for SQL Server. Auto-increment for MYSQL. SERIAL FOR PostgreSQL.\n    category_name VARCHAR(255) NOT NULL UNIQUE\n);\nCREATE TABLE Customers (\n    customer_id INT PRIMARY KEY IDENTITY(1,1), -- Use IDENTITY for SQL Server auto-increment\n    first_name VARCHAR(255) NOT NULL,\n    last_name VARCHAR(255) NOT NULL,\n    email VARCHAR(255) NOT NULL UNIQUE,\n    address TEXT,\n    phone VARCHAR(50) -- Increased size to accommodate longer phone numbers\n);\nCREATE TABLE Products (\n    product_id INT PRIMARY KEY IDENTITY(1,1), -- Use IDENTITY for SQL Server auto-increment\n    product_name VARCHAR(255) NOT NULL,\n    description TEXT,\n    price DECIMAL(10, 2) NOT NULL CHECK (price >= 0),\n    category_id INT,\n    FOREIGN KEY (category_id) REFERENCES Categories(category_id) ON DELETE SET NULL ON UPDATE CASCADE\n);\nCREATE TABLE Orders (\n    order_id INT PRIMARY KEY IDENTITY(1,1), -- Use IDENTITY for SQL Server auto-increment\n    customer_id INT,\n    order_date DATE NOT NULL,\n    total_amount DECIMAL(10, 2) NOT NULL CHECK (total_amount >= 0),\n    FOREIGN KEY (customer_id) REFERENCES Customers(customer_id) ON DELETE CASCADE ON UPDATE CASCADE -- Cascade delete/update if customer is removed/changed\n);\nCREATE TABLE Order_Items (\n    order_id INT,\n    product_id INT,\n    quantity INT NOT NULL CHECK (quantity > 0),\n    unit_price DECIMAL(10, 2) NOT NULL CHECK (unit_price >= 0), -- Price at the time of order\n    PRIMARY KEY (order_id, product_id), -- Composite primary key\n    FOREIGN KEY (order_id) REFERENCES Orders(order_id) ON DELETE CASCADE ON UPDATE CASCADE, -- Cascade delete/update if order is removed/changed\n    FOREIGN KEY (product_id) REFERENCES Products(product_id) ON DELETE NO ACTION ON UPDATE CASCADE -- Use NO ACTION (default behavior, similar to RESTRICT) for SQL Server\n);\nCREATE INDEX idx_customer_email ON Customers(email);\nCREATE INDEX idx_product_name ON Products(product_name);\nCREATE INDEX idx_category_name ON Categories(category_name);\nCREATE INDEX idx_order_date ON Orders(order_date);\n\n\n===Additional Context \n\nThe following columns are in the Customers table in the practice_dataset database:\n\n|    | TABLE_CATALOG    | TABLE_SCHEMA   | TABLE_NAME   | COLUMN_NAME   | DATA_TYPE   |\n|---:|:-----------------|:---------------|:-------------|:--------------|:------------|\n| 15 | practice_dataset | dbo            | Customers    | customer_id   | int         |\n| 16 | practice_dataset | dbo            | Customers    | first_name    | varchar     |\n| 17 | practice_dataset | dbo            | Customers    | last_name     | varchar     |\n| 18 | practice_dataset | dbo            | Customers    | email         | varchar     |\n| 19 | practice_dataset | dbo            | Customers    | address       | text        |\n| 20 | practice_dataset | dbo            | Customers    | phone         | varchar     |\n\nThe following columns are in the Categories table in the practice_dataset database:\n\n|    | TABLE_CATALOG    | TABLE_SCHEMA   | TABLE_NAME   | COLUMN_NAME   | DATA_TYPE   |\n|---:|:-----------------|:---------------|:-------------|:--------------|:------------|\n| 13 | practice_dataset | dbo            | Categories   | category_id   | int         |\n| 14 | practice_dataset | dbo            | Categories   | category_name | varchar     |\n\nThe following columns are in the Order_Items table in the practice_dataset database:\n\n|    | TABLE_CATALOG    | TABLE_SCHEMA   | TABLE_NAME   | COLUMN_NAME   | DATA_TYPE   |\n|---:|:-----------------|:---------------|:-------------|:--------------|:------------|\n|  4 | practice_dataset | dbo            | Order_Items  | order_id      | int         |\n|  5 | practice_dataset | dbo            | Order_Items  | product_id    | int         |\n|  6 | practice_dataset | dbo            | Order_Items  | quantity      | int         |\n|  7 | practice_dataset | dbo            | Order_Items  | unit_price    | decimal     |\n\nThe following columns are in the sysdiagrams table in the practice_dataset database:\n\n|    | TABLE_CATALOG    | TABLE_SCHEMA   | TABLE_NAME   | COLUMN_NAME   | DATA_TYPE   |\n|---:|:-----------------|:---------------|:-------------|:--------------|:------------|\n|  8 | practice_dataset | dbo            | sysdiagrams  | name          | nvarchar    |\n|  9 | practice_dataset | dbo            | sysdiagrams  | principal_id  | int         |\n| 10 | practice_dataset | dbo            | sysdiagrams  | diagram_id    | int         |\n| 11 | practice_dataset | dbo            | sysdiagrams  | version       | int         |\n| 12 | practice_dataset | dbo            | sysdiagrams  | definition    | varbinary   |\n\nThe following columns are in the Orders table in the practice_dataset database:\n\n|    | TABLE_CATALOG    | TABLE_SCHEMA   | TABLE_NAME   | COLUMN_NAME   | DATA_TYPE   |\n|---:|:-----------------|:---------------|:-------------|:--------------|:------------|\n|  0 | practice_dataset | dbo            | Orders       | order_id      | int         |\n|  1 | practice_dataset | dbo            | Orders       | customer_id   | int         |\n|  2 | practice_dataset | dbo            | Orders       | order_date    | date        |\n|  3 | practice_dataset | dbo            | Orders       | total_amount  | decimal     |\n\nThe following columns are in the Products table in the practice_dataset database:\n\n|    | TABLE_CATALOG    | TABLE_SCHEMA   | TABLE_NAME   | COLUMN_NAME   | DATA_TYPE   |\n|---:|:-----------------|:---------------|:-------------|:--------------|:------------|\n| 21 | practice_dataset | dbo            | Products     | product_id    | int         |\n| 22 | practice_dataset | dbo            | Products     | product_name  | varchar     |\n| 23 | practice_dataset | dbo            | Products     | description   | text        |\n| 24 | practice_dataset | dbo            | Products     | price         | decimal     |\n| 25 | practice_dataset | dbo            | Products     | category_id   | int         |\n\n===Response Guidelines \n1. If the provided context is sufficient, please generate a valid SQL query without any explanations for the question. \n2. If the provided context is almost sufficient but requires knowledge of a specific string in a particular column, please generate an intermediate SQL query to find the distinct strings in that column. Prepend the query with a comment saying intermediate_sql \n3. If the provided context is insufficient, please explain why it can't be generated. \n4. Please use the most relevant table(s). \n5. If the question has been asked and answered before, please repeat the answer exactly as it was given before. \n6. Ensure that the output SQL is T-SQL / Microsoft SQL Server-compliant and executable, and free of syntax errors. \n", '找出訂單 ID 為 5 的產品名稱和數量，並劃出來', 'SELECT P.product_name, OI.quantity\nFROM Order_Items AS OI\nINNER JOIN Products AS P ON OI.product_id = P.product_id\nWHERE OI.order_id = 5;', '找出訂單 ID 為 5 的產品名稱和數量。', 'SELECT P.product_name, OI.quantity \nFROM Order_Items AS OI \nINNER JOIN Products AS P ON OI.product_id = P.product_id \nWHERE OI.order_id = 5;', "列出名字是 'John' 的客戶的名字、姓氏和電子郵件。", "SELECT first_name, last_name, email FROM Customers WHERE first_name = 'John';", "計算名字是 'David' 的客戶在 '2023-10-01' 到 '2023-12-31' 期間訂購的所有商品總數量是多少？", "SELECT SUM(OI.quantity) AS TotalItemQuantity \nFROM Orders AS O \nINNER JOIN Customers AS C ON O.customer_id = C.customer_id \nINNER JOIN Order_Items AS OI ON O.order_id = OI.order_id \nWHERE C.first_name = 'David' \n  AND O.order_date BETWEEN '2023-10-01' AND '2023-12-31';", '列出下單超過3次的客戶的客戶ID及其訂單總數。', 'SELECT C.customer_id, COUNT(O.order_id) AS TotalOrders \nFROM Customers AS C \nINNER JOIN Orders AS O ON C.customer_id = O.customer_id \nGROUP BY C.customer_id \nHAVING COUNT(O.order_id) > 3;', '找出訂購了所有分類中最貴產品的客戶姓名和電子郵件。', 'WITH MaxPriceProduct AS (\n    -- 找出價格最高的產品ID\n    SELECT product_id\n    FROM Products\n    WHERE price = (SELECT MAX(price) FROM Products)\n),\nOrdersWithMaxProduct AS (\n    -- 找出包含這些最貴產品的訂單ID\n    SELECT DISTINCT OI.order_id\n    FROM Order_Items AS OI\n    INNER JOIN MaxPriceProduct AS MPP ON OI.product_id = MPP.product_id\n),\nCustomersWithMaxProductOrder AS (\n    -- 找出下了這些訂單的客戶ID\n    SELECT DISTINCT O.customer_id\n    FROM Orders AS O\n    INNER JOIN OrdersWithMaxProduct AS OWMP ON O.order_id = OWMP.order_id\n)\n-- 選出這些客戶的詳細資訊\nSELECT \n    C.first_name, \n    C.last_name, \n    C.email \nFROM Customers AS C\nINNER JOIN CustomersWithMaxProductOrder AS CWMP ON C.customer_id = CWMP.customer_id;', "新增一位客戶，姓名為 'Peter Pan'，電子郵件是 'peter.p@neverland.com'，電話是 '555-9876'。", "INSERT INTO Customers (first_name, last_name, email, phone) VALUES ('Peter', 'Pan', 'peter.p@neverland.com', '555-9876');", '列出所有客戶的名字及其訂單日期。包含尚未下任何訂單的客戶。', 'SELECT C.first_name, O.order_date \nFROM Customers AS C \nLEFT JOIN Orders AS O ON C.customer_id = O.customer_id;', '列出所有下過訂單的客戶姓名。', 'SELECT first_name, last_name \nFROM Customers \nWHERE customer_id IN (SELECT DISTINCT customer_id FROM Orders);', '顯示每個產品的名稱、價格、其分類名稱，以及該分類所有產品的平均價格。', 'SELECT \n    P.product_name, \n    P.price, \n    C.category_name, \n    AVG(P.price) OVER (PARTITION BY P.category_id) AS AvgCategoryPrice \nFROM Products AS P \nINNER JOIN Categories AS C ON P.category_id = C.category_id;', '找出訂單 ID 為 5 的產品名稱和數量']
LLM Response: ```sql
SELECT P.product_name, OI.quantity
FROM Order_Items AS OI
INNER JOIN Products AS P ON OI.product_id = P.product_id
WHERE OI.order_id = 5;
```

Extracted SQL: SELECT P.product_name, OI.quantity
FROM Order_Items AS OI
INNER JOIN Products AS P ON OI.product_id = P.product_id
WHERE OI.order_id = 5;
SELECT P.product_name, OI.quantity
FROM Order_Items AS OI
INNER JOIN Products AS P ON OI.product_id = P.product_id
WHERE OI.order_id = 5;
                          product_name  quantity
0  Programmable grid-enabled groupware         1
1      Up-sized directional neural-net         2

In [ ]:
from vanna.flask import VannaFlaskApp
app = VannaFlaskApp(vn)
app.run()